<!-- 调用头部文件 -->
<include file = "Public:homeheader" title = "获得邀请码-{$SiteInfo.title}" />
<!-- 本页导航栏开始 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>首页</h2>
        <ol class="breadcrumb">
            <li>
                <a href="__APP__">首页</a>
            </li>
            <li class="active">
                <strong>获得邀请码</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<!-- 本页导航栏结束 -->

<!-- 正文开始 -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <center><h1>获得本站邀请码</h1></center>
                <div class="progress progress-striped active">
                                    <div style="width: 33%" class="progress-bar progress-bar-success">
                                        <span class="sr-only">30% Complete (success)</span>
                                    </div>
                                    <div style="width: 33%" class="progress-bar progress-bar-warning">
                                        <span class="sr-only">15% Complete (warning)</span>
                                    </div>
                                    <div style="width: 34%" class="progress-bar progress-bar-danger">
                                        <span class="sr-only">40% Complete (danger)</span>
                                    </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                        <i class="fa fa-info-circle"></i>为什么需要邀请码注册？
                        </div>
                        <div class="panel-body">
                        正如本站的名称一样，里程密，一个程序员里程的秘密，所以我们更希望这里是一个和谐干净的程序员呆的地方，<br>
                        而不希望这里像菜市场一样杂乱无章.
                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                        <i class="fa fa-info-circle"></i>邀请码是否收费？
                        </div>
                        <div class="panel-body">
                        我们都是程序员，程序员何苦为难程序员，要是打着为了网站干净的旗号收注册码的钱，那就真的是当婊子还立牌坊了<br>
                        开源的世界是没有收费这两个字的.
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                        <i class="fa fa-info-circle"></i>到底如何获取？
                        </div>
                        <div class="panel-body">
                        既然都是程序员，或者邀请码的方式肯定是和技术有关的，你可以写一篇技术文章分享给大家，<br>
                        然后把文章的配图和文章一起发送到管理员的邮箱：lcm1475@aliyun.com <br>
                        管理员通过审核之后就会把邀请码发到你的邮箱里<br>
                       <span style = "color:red;"> 还有一种情况是管理员开心了 会免费发送。。。</span>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                        <i class="fa fa-info-circle"></i>技术文章有什么要求？
                        </div>
                        <div class="panel-body">
                        <ul>
                            <li>
                                文章不要从百度复制，大家都不傻，这是最基本的要求了
                            </li>
                            <li>
                                是不是要技术水准很高？答案是不需要，只要是你用心写的，自己写的，写的怎么样都好，
                                哪个程序员不是从菜到神？
                            </li>
                            <li>
                                我发送到管理员邮箱多长时间才能收到验证码？基本上几个小时之内，因为管理员也是一只代码狗，也要上班.
                            </li>
                            <li>
                                配图要什么样的？随便你喜欢就好了，长方形的比例就好，因为你看到本站的所有文章都是带有配图的.
                            </li>
                            <li>
                                会员有什么权限？你可以有自己的博客，你可以在本站所有的分类下发帖子.
                            </li>
                        </ul>

                        </div>
                    </div>
        </div>
        <div class="col-lg-6">
        <center><h1>关于本站源代码</h1></center>
                <div class="progress progress-striped active">
                                    <div style="width: 33%" class="progress-bar progress-bar-success">
                                        <span class="sr-only">30% Complete (success)</span>
                                    </div>
                                    <div style="width: 33%" class="progress-bar progress-bar-warning">
                                        <span class="sr-only">15% Complete (warning)</span>
                                    </div>
                                    <div style="width: 34%" class="progress-bar progress-bar-danger">
                                        <span class="sr-only">40% Complete (danger)</span>
                                    </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                        <i class="fa fa-info-circle"></i>代码是否开源？
                        </div>
                        <div class="panel-body">
                        本站是无条件支持开源的
                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                        <i class="fa fa-info-circle"></i>源代码是否能下载？
                        </div>
                        <div class="panel-body">
                        可以
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                        <i class="fa fa-info-circle"></i>如何下载？
                        </div>
                        <div class="panel-body">
                        自己在网站上找....
                        </div>
                    </div>
        </div>
    </div>
    </div>
<!-- 正文结束 -->

<!-- 调用脚部文件 -->
<include file = "Public:homefooter"  />
